@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom {
    scrollbar-width: thin;
    /* For Firefox */
    /* scrollbar-color: #000 #888; */
    scrollbar-color: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  code{
    white-space: break-spaces;
  }
}